{extend name="base/common" /} 
{block name="content"}
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <table class="table table-bordered table-hover">
                        <thead class="">
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">关键词</th>
                                <th class="text-center">类型</th>
                                <th class="text-center">匹配</th>
                            </tr>
                        </thead>
                        <tbody>
                            {volist name="list" id="vo"}
                            <tr>
                                <td align="center">{$vo.id}</td>
                                <td align="center">{$vo.keyword}</td>
                                <td align="center">{$vo.module}</td>
                                <td align="center">{$vo.type}</td>
                            </tr>
                            {/volist}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

